/* GENERIC */
a {
  color: blue;
}

table {
  border-collapse: collapse;
}

table th {
  border: solid 1px white;
  border-top: none;
  background: #99CCFF;
}

table tbody tr td {
  background: #F0F8FF;
  border-top: solid 1px white;
}

table tr.odd td {
  background: #E5F0FF;
}

/* HEADER AND FOOTER */
.header {
  background: url('../img/header.png');
}

.footer {
  background: #CCCCCC;
  border-top: solid 1px gray;
}

.header img:hover {
  position: relative;
  top: -2px;
}

.header a.repo-link {
  background: url('../img/repos.png') no-repeat;
  width: 47px;
  height: 40px;
  display: block;
}

.header a.repo-link:hover {
  background: url('../img/repos_open.png') no-repeat;
}

.header a.repo-link span {
  display: none;
}

.header img {
  cursor: pointer;
}

/* DIALOG */
.dialog-inner {
  background: #DDDDDD;
}

/* SUMMARY TABLE */
table.summary tbody tr {
  cursor: pointer;
}

table.summary tbody tr:hover td {
  background: #FFEE99;
}

table.summary tbody tr.month td {
  background: #CCE6FF;
  font-weight: bold;
}

table.summary a {
  color: black;
  text-decoration: none;
}

span.ewarning {
  color: #888888;
}

span.node-label {
  color: #555;
}

span.node-label:after {
  content: ': ';
}

/* REPORT TABLE */
table.report tr.project-row {
  border-top: solid 2px white;
}

table.report tr.architecture-row {
  border-top: solid 1px white;
}

table.report td.project-config {
  background: #CCE6FF;
}

a.repo {
  text-decoration: none;
  color: #172FE6;
  background: url('../img/repo16.png') no-repeat;
  margin-left: -20px;
  padding-left: 20px;
}

a.repo:hover {
  text-decoration: underline;
}

/* FAILED AND SUCCESS */
.failed {
  color: red;
}

.success {
  color: green;
}

.external {
  color: black;
}

/* REPORT HEADINGS AND PADDING */
h2.project {
  background: url('../img/project.png') no-repeat left center;
  padding-left: 28px;
  margin-left: -28px;
}

h3.subsystem {
  background: url('../img/subsystem.png') no-repeat left center;
  padding-left: 28px;
  margin-left: -28px;
}

h4.component {
  background: url('../img/component.png') no-repeat left center;
  padding-left: 28px;
  margin-left: -28px;
  height: 24px;
}

/* CALENDAR */
table.calendar td.noday {
  background: #EEEEEE;
}

table.calendar td {
  cursor: default;
}

table.calendar div.log-dialog {
  background: #BDE0FF;
}

table.calendar div.log-dialog ol {
  list-style-image: url('../img/document.png');
}

table.calendar td:hover {
  background: #FFEE99;
}

table.calendar td.with-log:hover {
  background: #FFEE99;
}

table.calendar td.with-log {
  background: #E5F0FF;
}

table.calendar td span {
  cursor: pointer;
  text-decoration: underline;
}
