/* GENERIC */
table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}

table tr:first-child th:first-child {
  border-left: none;
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
}

table tr:first-child th:last-child {
  border-right: none;
  border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}

/* HEADER AND FOOTER */
.header {
  background-image: -moz-linear-gradient(0% 0% 270deg,#66B3FF, white 90%, rgba(255,255,255,0.4) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom,
                       from(#66B3FF),
                       color-stop(0.9, white),
                       color-stop(1, rgba(255,255,255,0.4)));
}

.header img:hover {
  -moz-box-shadow: 2px 2px 5px #888;
  -webkit-box-shadow: 2px 2px 5px #888;
}

/* DIALOG */
.dialog-inner {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 10px 10px 5px black;
  -webkit-box-shadow: 10px 10px 5px black;
}

/* SUMMARY TABLE */

/* REPORT TABLE */
table.report tr:last-child td:first-child {
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

table.report td.project-config {
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
}

table.report tr.project-row td.project-config {
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
}

table.report tbody tr:first-child td.project-config {
  border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
}

table.report tbody tr:last-child td:first-child[rowspan$='1'] {
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
}

/* FAILED AND SUCCESS */


/* REPORT HEADINGS AND PADDING */

/* CALENDAR */
table.calendar div.log-dialog {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 4px 4px 5px #888;
  -webkit-box-shadow: 4px 4px 5px #888;
}
