/* GENERIC */
body {
  padding: 5em 2em 5em 2em;
}

img {
  border: none;
  padding: 0;
  margin: 0;
  display: inline;
  vertical-align: middle;
}

table {
  width: 100%;
}

table td {
  text-align: center;
  padding: 0.2em;
}


/* HEADER AND FOOTER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 4em;
  height: 70px;
}

.footer {
  margin-top: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 2em 0 2em;
}

.header img {
  margin-left: 0.5em;
}

.right-top-menu {
  position: fixed;
  right: 1em;
  top: 0.5em;
}

/* DIALOG */
.dialog-outer {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}

.dialog-middle {
  display: table-cell;
  vertical-align: middle;
}

.dialog-inner {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 1em;
  padding: 5px 5px 5px 15px;
}

/* SUMMARY TABLE */
table.summary th.log {
  width: 12em;
}

table.summary td.day {
  text-align: right;
  width: 15em;
}

/* REPORT TABLE */
table.report td {
  padding: 0.3em;
}

th.project {
  width: 15%;
}

th.platform {
  width: 20%;
}

th.build {
  width: 12em;
}

th.deployment {
  width: 16em;
}

th.test {
  width: 10em;
}

/* REPORT HEADINGS AND PADDING */
div {
  padding-left: 1em;
}

/* CALENDAR */
table.calendar th {
  width: 14.28%;
}

table.calendar div.log-dialog {
  position: absolute;
  padding: 0;
  overflow: hidden;
  width: 12%;
}

table.calendar div.log-dialog ol {
  margin: 0;
  padding: 1em 1em 0.5em 2em;
}

table.calendar div.log-dialog ol li {
  margin-bottom: 0.5em;
}

table.calendar td span {
  display: inline-block;
  width: 100%;
}
