body {
  font-size: 11pt;
  font-family: 'Lucida Grande', Verdana, Helvetica, sans-serif;
  padding: 1em 2em 1em 2em;
}

h2 {
  cursor: pointer;
  background: rgb(200, 200, 250);
}

h3 {
  cursor: pointer;
  background: rgb(200, 220, 250);
  margin-left: 0.3em;
}

label {
  cursor: pointer;
  background: rgb(240, 240, 250);
  font-size: 100%;
  font-weight: normal;
  display: block;
  margin-bottom: 0.8em;
}

pre {
  border: dashed 1px;
  padding: 0em 1em 0em 1em;
  background: rgb(255, 255, 220);
  overflow: auto;
}

p {
  display: block;
  margin: 0.2em 0 0.2em 0;
}

a {
  color: blue;
}

a:hover {
  color: navy;
}

p.link {
  margin: 1em 0 1em 0;
}

.stderr { color: red; }

.success { color: green; }

.failed { color: red; }

.execution-line { margin-left: 1em; }

.info-line p:before {
  content: '[INFO] ';
}

.command-line {
  font-family: monospace;
  background: rgb(50, 50, 50);
  color: white;
  padding: 0.2em;
  display: block;
}

.command-line:before { content: '# '; }

.suite-line { padding-left: 0.5em; }

.execution-details { margin-left: 1em; }

.warning-line {
  font-family: monospace;
  color: rgb(150, 150, 0);
}

.warning-line p:before {
  content: '[WARNING] ';
}

.error-line {
  font-family: monospace;
  color: red;
}

.error-line p:before {
  content: '[ERROR] ';
}

.debug-line {
  color: gray;
}

.debug-line p:before {
  content: '[DEBUG] ';
}

.suite-stats {
  margin-bottom: 1em;
  padding: 0.2em;
  border: dotted 1px;
  background: rgb(240,255,255);
}

